body {
    font-family: 'Montserrat', 'sans-serif';
}

nav > div > a {
    text-decoration: none;
    color:cornflowerblue;
    margin: 20px 20px;
}

.space {
    display: inline;
    width: 50%;
    margin: 0 20%;
}

.nav {
    display: inline;
}

/*body*/

header {
    text-align: center;
}